.main{ background-color: rgb(255, 251, 237);}

h1 {font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.topimage{margin: 10px;}

.container {flex-direction: column;}
.container{height: 300px;}